<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>list view</title>
  </head>
  <body>
      <!-- As a heading -->
    <hi>LIST CLASS BASED VIEW</hi>

    <div class="container ">
      {% for x in albums %}
      <h1>{{x.name}}</h1>
      {% endfor %}
    </div>
  </body>
</html>



